*{
    transition: all 0.5s;
}

body{
    background: slategray;
    padding: 0;
    margin: 0;
    text-align: center;
}

.jugador_div{
    border: 1px solid black;
}

#jugador_btn{
    margin: 10px;
    border: 1px solid grey;
    width: 30%;
    margin-left: 35%;
}

#jugador_btn:hover{
    background-color: greenyellow;
    cursor: pointer;
}

.contenedor{
    width: 98vw;
    height: 97vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

.encabezado{
    background: white;
    min-width: 300px;
    width: 70%;
    padding: 10px;
}

.categoria{
    opacity: 0.5;
    text-align: left;
}

.pregunta{
    padding: 10px;
}

#btn1, #btn2, #btn3, #btn4{
    background: aqua;
    width: 60;
    padding: 10px;
    margin: 5px;
}

#btn1:hover, #btn2:hover, #btn3:hover, #btn4:hover{
    background: orange;
    cursor: pointer;
    transform: scale(1.03);
}